.subimage-region{
    width: 100%;
    background-color: #00bbff;
    height: 300px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;

}
.image-region{
    width: 100%;
    background-color: #00bbff;
    height: 800px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;

}