<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Label ROI by Tensorflow</h4>
                    </div>
                    <div class="content">

                        <div class="image">
                            <img src="../../assets/img/full-screen-image-3.jpg">
                        </div>

                        <div class="typo-line">
                            <h2><p class="category">Select Class</p>Hier noch eine Liste hinzufügen</h2>
                        </div>




                    </div>
                </div>
            </div>
        </div>
</div>
